<p style="color: green"><%= notice %></p>

<%= render @sazzad %>

<div>
  <%= link_to "Edit this sazzad", edit_sazzad_path(@sazzad) %> |
  <%= link_to "Back to sazzads", sazzads_path %>

  <%= button_to "Destroy this sazzad", @sazzad, method: :delete %>
</div>
